body {

    background-image: url('https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
   } 
   
    header{
      background-color: black;
      color: white;
      height: 70px;
      padding: 10px;
   }

   footer{
    background-color: black;
    color: white;
    height: 70px;
    padding: 10px;
    text-align: center;
   }

    .mainpage {
    width: 1024px; 
    margin: 0 auto;
  }

  .headname1 {
      color: rgb(255, 255, 255);

  }

  .headname2{
    color: rgb(5, 176, 255);
  }

  .graphic{
    background-image: url("images/chantaburi-cover (1).jpeg");
    height: 320px;
    padding: auto;
  }

  .maps{
    border: 1px solid gold;
    height: 300px;
  }

  .top10{
    background-color: ghostwhite;
    padding: 10px;
  }
  
